{% extends 'django_timesheet/base.html' %}

{% block content %}
<h2>Akten</h2>
{% if lookup %}<p>Für Suchbegriff <strong>{{ lookup }}</strong>. <a href="{% url 'file_list' %}">Alle Akten</a></p>{% endif %}
<table>
    {% for object in object_list %}
    <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object.reference }}</a></td>
        <td>{{ object.task_set.count }} Aufgaben</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No items found.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}