{% extends 'django_timesheet/base.html' %}
{% load static timer timesheet %}

{% block content %}
<h2>Akte</h2>

<form action="" method="POST">
    {% csrf_token %}
    {% render_form form %}
    <p>
        <button type="submit">Save</button>
    </p>
</form>

{% if object.pk %}
<h3>Aufgaben</h3>
<table>
    {% for task in object.task_set.all %}
    <tr>
        <td>{{ task.date }}</td>
        <td><a href="{{ task.get_absolute_url }}">{{ task.description }}</a></td>
        <td>{% render_timer task.timer %}</td>
        <td>{{ task.billable | hhmmss }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No tasks.</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Abrechenbare Zeit</td>
        <td>{{ object.task_set.total_billable_time | hhmmss }}</td>
    </tr>
</table>

<a href="{% url 'create_task' object.pk %}">Add task</a>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'django_timer/js/timer.js' %}"></script>
{% endblock %}