{% extends 'django_timesheet/base.html' %} {% load timer static timesheet %} {% block content %}
<section>
    <h2>Aufgabe hinzufügen</h2>
    <form action="" method="POST">
        {% csrf_token %} {% render_form form %}
        <p>
            <button type="submit">Speichern</button>
        </p>
    </form>
</section>
<section>
    <h2>Akten suchen</h2>
    <form action="{% url 'file_list' %}" method="GET">
        {{ search_form }}
    </form>
    <p><a href="{% url 'file_list' %}">Alle Akten</a></p>
</section>
<section>
    <h2>Laufende Aufgaben</h2>
    <table>
        {% for task in object_list %}
        <tr>
            <td><a href="{{ task.file.get_absolute_url }}">{{ task.file.reference }}</a></td>
            <td>{{ task.date }}</td>
            <td><a href="{{ task.get_absolute_url }}">{{ task.description }}</a></td>
            <td>{% render_timer task.timer %}</td>
            {% empty %}
            <tr>
                <td colspan="4">Keine laufenden Aufgaben.</td>
            </tr>
            {% endfor %}
    </table>
    <p>
        <a href="{% url 'task_list' %}">Alle Aufgaben</a>
        <a href="{% url 'task_archive' %}">Archiv</a>
    </p>
</section>
{% endblock %} {% block scripts %}
<script src="{% static 'django_timer/js/timer.js' %}"></script>
<script src="{% static 'django_timesheet/js/auto-complete.js' %}"></script>
{% endblock %}