{% extends 'timesheet/base.html' %} 
{% load timer static timesheet %} 

{% block header %}
<header>
    <div class="container">
        <form action="{% url 'file_list' %}" method="GET">
            {% csrf_token %}
            <div class="index-form-row">
                <div class="index-form-field">
                    {{ form.reference.label_tag }} {{ form.reference }} {{ form.reference.errors }}
                </div>
                <div class="index-form-field">
                    {{ form.description.label_tag }} {{ form.description }} {{ form.description.errors }}
                </div>
            </div>
            <div class="button-group">
                <button type="submit">Akten suchen</button>
                <a href="{% url 'file_list' %}">Alle Akten anzeigen</a> <span class="or">oder</span>
                <button formaction="{% url 'index' %}" formmethod="POST" type="submit">Aufgabe hinzufügen</button>
            </div>
        </form>
    </div>
</header>
{% endblock %}

{% block main %}
<h2>Laufende Aufgaben</h2>
<table>
    {% for task in object_list %}
    <tr>
        <td><a href="{{ task.file.get_absolute_url }}">{{ task.file.reference }}</a></td>
        <td>{{ task.date }}</td>
        <td><a href="{{ task.get_absolute_url }}">{{ task.description }}</a></td>
        <td>{% render_timer task.timer %}</td>
        {% empty %}
        <tr>
            <td colspan="4">Keine laufenden Aufgaben.</td>
        </tr>
        {% endfor %}
</table>
<p>
    <a href="{% url 'task_archive' %}">Alle Aufgaben</a>
</p>
{% endblock %} 

{% block scripts %}
<script src="{% static 'django_timer/js/timer.js' %}"></script>
<script src="{% static 'timesheet/js/timesheet.js' %}"></script>
{% endblock %}