{% extends 'django_timesheet/base.html' %}
{% load timer static %}

{% block content %}
<h2>Aufgabe hinzufügen</h2>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Speichern</button>
</form>

<h2>Akten suchen</h2>

<form action="{% url 'file_list' %}" method="GET">
    <input name="reference" />
    <button type="submit">Suchen</button>
</form>

<a href="{% url 'file_list' %}">Alle Akten</a>

<h2>Laufende Aufgaben</h2>

<table>
    {% for task in object_list %}
    <tr>
        <td><a href="{{ task.file.get_absolute_url }}">{{ task.file.reference }}</a></td>
        <td>{{ task.date }}</td>
        <td>{{ task.description }}</td>
        <td>{% render_timer task.timer %}</td>
    {% empty %}
    <tr>
        <td colspan="4">No items found.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block scripts %}
<script src="{% static 'django_timer/js/timer.js' %}"></script>
{% endblock %}