{% extends 'django_timesheet/base.html' %}
{% load timer static timesheet %}

{% block content %}
<h2>Aufgabe</h2>
<form action="" method="POST">
    {% csrf_token %}
    {% render_form form %}
    <p>
        <button type="submit">Save</button>
        {% if object.pk %}
        <button type="submit" formaction="{% url 'set_billable_time' object.pk %}">Abrechenbare Zeit von Timer übernehmen</button>
        {% endif %}
    </p>
</form>
{% if object %}
{% render_timer object.timer %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'django_timer/js/timer.js' %}"></script>
{% endblock %}