{% extends 'timesheet/base.html' %}
{% load timer %}

{% block aside %}
<aside>
    <section class="archive-navigation">
        <h3>Jahre</h3>
        <ul>
            {% for date in date_list %}
            <li><a href="{% url 'task_archive' date.year %}">{{ date.year }}</a></li>
            {% endfor %}
        </ul>
    </section>
</aside>
{% endblock %}

{% block main %}

{% block breadcrumbs %}
<h2>
    <ol class="breadcrumbs">
        <li>
            <a href="{% url 'index' %}">Startseite</a>
        </li>
        <li>
            Aufgaben
        </li>
    </ol>
</h2>
{% endblock %}

{% block filter %}
<div>
    <form id="filter-form" class="filter-form" action="" method="GET">
        {% for field in f.form %}
        <div class="filter-input">
            {{ field.label_tag }} {{ field }} {{ field.errors}}
        </div>
        {% endfor %}
        <div class="filter-input filter-button">
            <button type="submit">Filtern</button>
        </div>
    </form>
</div>
{% endblock %}

{% block object_list %}
<table>
    <thead>
        <tr>
            <th>Aktenzeichen</th>
            <th>Datum</th>
            <th>Beschreibung</th>
            <th>Timer</th>
            <th>Abrechenbar</th>
        </tr>
    </thead>
    {% for task in object_list %}
    <tr>
        <td>{% if task.file %}<a href="{{ task.file.get_absolute_url }}">{{ task.file }}</a>{% else %}*{% endif %}</td>
        <td>{{ task.date }}</td>
        <td><a href="{{ task.get_absolute_url }}">{{ task.description }}</a></td>
        <td>{{ task.timer.duration | hhmmss }}</td>
        <td>{{ task.billable | hhmmss }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Keine Aufgaben gefunden.</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4">Abrechenbare Zeit</td>
        <td>{{ object_list.total_billable_time | hhmmss }}</td>
    </tr>
</table>
{% endblock %}

{% endblock main %}