{% extends 'timesheet/task_archive.html' %} 

{% block breadcrumbs %}
<h2>
    <ol class="breadcrumbs">
        <li>
            <a href="{% url 'index' %}">Startseite</a>
        </li>
        <li>
            <a href="{% url 'task_archive' %}">Aufgaben</a>
        </li>
        <li>
            {{ year.year }}
        </li>
    </ol>
</h2>
{% endblock %} 

{% block archive_navigation %}
<div class="archive-navigation">
    <h3>Monate</h3>
    <ul>
        {% for date in date_list %}
        <li><a href="{% url 'task_archive' date.year date.month %}">{{ date | date:"F" }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}