{% extends 'django_timesheet/base.html' %}
{% load timer %}

{% block content %}
<section>
    <h2>Aufgaben</h2>
    <div>
        <form id="filter-form" class="filter-form" action="" method="GET">
            {% for field in f.form %}
            <div class="filter-input">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors}}
            </div>
            {% endfor %}
            <div class="filter-input filter-button">
                <button type="submit">Filtern</button>
            </div>
        </form>
    </div>
    <table>
        {% for task in object_list %}
        <tr>
            <td>{% if task.file %}<a href="{{ task.file.get_absolute_url }}">{{ task.file }}</a>{% else %}*{% endif %}</td>
            <td>{{ task.date }}</td>
            <td><a href="{{ task.get_absolute_url }}">{{ task.description }}</a></td>
            <td>{{ task.timer.duration | hhmmss }}</td>
            <td>{{ task.billable | hhmmss }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No items found.</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">Abrechenbare Zeit</td>
            <td>{{ object_list.total_billable_time | hhmmss }}</td>
        </tr>
    </table>
    <p>
        <button type="submit" form="filter-form" formaction="{% url 'task_list_pdf' %}">PDF</button>
    </p>
</section>
{% endblock %}