{% extends 'timesheet/task_archive.html' %}

{% block breadcrumbs %}
<h2>
    <ol class="breadcrumbs">
        <li>
            <a href="{% url 'index' %}">Startseite</a>
        </li>
        <li>
            <a href="{% url 'task_archive' %}">Aufgaben</a>
        </li>
        <li>
            <a href="{% url 'task_archive' month.year %}">{{ month.year }}</a>
        </li>
        <li>
            {{ month | date:"F" }}
        </li>
    </ol>
</h2>
{% endblock %}

{% block aside %}
{% endblock %}