/* Index form */

.index-form .row {
    display: flex;
    flex-direction: column;
}

.index-form .cell {
    flex-basis: 100%;
    margin-bottom: 6px;
}

.index-form .row .or {
    flex: 1;
    font-style: italic;
    text-align: center;
}

/* Current task */

.current-task .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.current-task .cell {
    flex: 1;
    margin-bottom: 6px;
    overflow-x: hidden;
}

.current-task .cell:not(:last-child) {
    margin-right: 6px;
}

.current-task .cell.wide {
    flex-basis: 100%;
    flex-shrink: 0;
}

.current-task .cell.oneline {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.current-task .label {
    font-weight: 600;
}

.current-task .info {
    padding: 8px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.current-task .ellipsify {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.current-task .django-timer form {
    flex-wrap: nowrap;
}

/* Timer display */

.current-task .django-timer-display {
    padding: 8px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.current-task .django-timer-buttons button {
    padding: 8px 10px;
    color: #fff;
    border-radius: 4px;
    background: #28a745;
    border: 1px solid #28a745;
}

.current-task #django-timer-stop {
    background: red;
    border-color: red;
}

@keyframes blink {
    from {
        border-color: #ccc;
        box-shadow: none;
    }
    to {
        border-color: #337ab4;
        box-shadow: 0 0 10px #337ab4 inset;
    }   
}

.current-task .django-timer-display:not(.active) {
    animation: blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* Table */