
/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

/* Container, header and main */

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0px 10px;
}

header {
    border-bottom: 1px solid #ccc;
    background: #fafbfc;
}

main section {
    margin-bottom: 12px;
}

/* Headings */

h1, h2, h3 {
    font-weight: normal;
}

/* Links */

a {
    color: #d50000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button groups */

.button-group {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.button-group > *:not(:last-child) {
    margin-right: 0.5em;
}

.button-group.align-right {
    justify-content: flex-end;
}

.button-group button,
.button-group a {
    white-space: nowrap;
}

/* Buttons, inputs and labels */

button, input, textarea, select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    font-weight: 600;
}    

input:not([type="checkbox"]), textarea {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #ccc;
}

textarea {
    height: 66px;
}

input[type='number'] {
    -moz-appearance: textfield;
    width: 100%;
}

a.button,
button {
    display: inline-block;
    padding: 0.75em 1.25em;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
}

button:hover {
    text-decoration: underline;
}

button[type="submit"] {
    background: #28a745;
    color: white;
    border: none;
}    

button.link {
    padding: 0;
    line-height: inherit;
    color: #d50000;
    background: unset;
    border: none;
}

/* Form error lists */

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: red;
}

/* Tables */

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th{
    text-align: left;
    font-weight: 600;
}

td, th {
    border-bottom: 1px solid #ccc;
    padding: 8px 10px;
    vertical-align: top;
}

/* Breadcrumbs */

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.breadcrumbs li a {
    color: inherit;
}

.breadcrumbs li:not(:first-child)::before {
    content: ">";
    margin-left: 5.75px;
}

.breadcrumbs li input {
    padding: 2px 10px;
    width: unset;
}

/* Django-Timer */

.django-timer form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.django-timer-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.django-timer-display {
    padding: 4px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.django-timer-buttons button {
    margin-left: 5px;
    padding: 0;
    background: unset;
    border: unset;
}

/* Filters */

.filter-form {
    display: flex;
    flex-flow: row wrap;
}

.filter-input {
    width: 200px;
}

.filter-form {
    display: flex;
    flex-flow: row wrap;
}

.filter-input {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Filters and archive navigation */

.filters,
.archive-navigation {
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* Archive pages */

.archive-navigation h3 {
    font-size: inherit;
    font-weight: 600;
    margin: 0;
}

.archive-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

.archive-navigation li {
    margin-right: 10px;
}