.autocomplete-wrapper {
    position: relative;
    width: 100%;
}

.autocomplete-suggestions {
    display: none;
    position: absolute;
    z-index: 9999; 
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;

    border: 1px solid #ccc; 
    border-top: 0; 
    background: #fff; 
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
}

.autocomplete-suggestions li {
    padding: 0px 10px;
    line-height: 2;
}

.autocomplete-suggestions li.selected {
    background: #f0f0f0; 
}

.autocomplete-suggestions b { 
    font-weight: 600; 
    color: #1f8dd6; 
}