* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

main .container {
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3 {
    font-weight: normal;
}

a {
    color: #d50000;
    text-decoration: none;
}

h1 a {
    color: inherit;
}

a.button {
    display: inline-block;
    line-height: 1.15;
}

a:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.button-group > *:not(:last-child) {
    margin-right: 0.5em;
}

.button-group.align-right {
    justify-content: flex-end;
}

label {
    font-weight: 600;
}

h2 label {
    font-weight: unset;
}

button, input, textarea, select {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

input:not([type="checkbox"]), textarea {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #ccc;
}

textarea {
    height: 66px;
}

table textarea {
    height: 38.333px;    
}

input[type='number'] {
    -moz-appearance: textfield;
    width: 100%;
}

a.button,
button {
    padding: 0.75em 1.25em;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
}

button[type="submit"] {
    background: #28a745;
    color: white;
    border: none;
}

button:hover {
    text-decoration: underline;
}

a.button.small,
button.small {
    padding: 0.25em 0.5em;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

tr.template {
    display: none;
}

th{
    text-align: left;
    font-weight: 600;
}

td, th {
    border-bottom: 1px solid #ccc;
    padding: 8px 10px;
    vertical-align: top;
}

td.currency, th.currency {
    text-align: right;
    white-space: nowrap;
}

td.with-action {
    position: relative;
    padding-right: 40px;
}

.action {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

a.action {
    text-decoration: none;
}

.delete::before {
    content: "\00d7";
    font-size: 25px;
    line-height: 1;
    color: #d50000;
}

.remove::before {
    content: "\00d7";
    font-size: 25px;
    line-height: 1;
    color: orange;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    color: red;
}

.has-errors input,
.has-errors textarea {
    border-color: red;
}

.pull-right {
    float: right;
}


.filter-form {
    display: flex;
    flex-flow: row wrap;
}

.filter-input {
    width: 200px;
}

.filter-form {
    display: flex;
    flex-flow: row wrap;
}

.filter-input {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.breadcrumbs li a {
    color: inherit;
}

.breadcrumbs li:not(:first-child)::before {
    content: ">";
    margin-left: 5.75px;
}